/**
 * Variables
 **/
$font-stack-common = "Source Sans Pro", "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif

/**
 * Base
 **/
body
	margin 0
	font 400 16px/1.5 $font-stack-common

a
	transition .2s ease-in-out

